.table-container{
    float: left;
    margin-right: 20px;
}

table{
    width: 50%;
    border-spacing:0;
}

th,td{
    border:1px solid black;
    padding: 0 8px;
    text-align: left;

}
th{
    background-color: rgb(216, 245, 209);
    color: rgb(0, 0, 0);
    text-align: center;
}

td{
    background-color:rgb(216, 245, 209); ;
}

.green{
    background-color: rgb(188, 255, 175);
}

.dark{
    background-color: rgb(44, 147, 23);
    color:white;
}