* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
}

.left-side {
    width: 25%;
    min-width: 25%;
    padding-top: 1%;
    min-height: 100vh;
    background-color: #876095;
}

.right-side {
    flex: 1;
    padding: 20px;
}

.profile_avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.picture {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.right-side h1,
.right-side h2 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
}
.left-side h2{
    border-bottom: 1px solid #000 ;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
}
.right-side ol li{
    margin-bottom: 10px;
}
.right-side ol li a{
    display: inline-block;
    padding: 15px 20px;
    background-color: #d0bfe1;
    color: #000;
    text-decoration: none;
    border-radius: 5px;


}
.right-side ul {
    list-style-type: none; 
    margin-bottom: 20px;
}

.right-side ul li {
    margin-bottom: 10px; 

}
.right-side p{
    margin-bottom: 20px;
}
.right-side h1{
    margin-bottom: 20px;
}
 .left-side ul li{
    margin-bottom:20px;
    list-style-type: none; 
 }

.left-side{
    padding: 20px;
}

.line_menu ul{
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 5px 100px;
    background-color: #d0bfe1;
}

.line_menu ul li a{
    text-decoration: none;
    color: black;
}

.line_menu{
    margin-bottom: 20px;
}